<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Realname</th>
      <th>Mobile</th>
      <th>Nickname</th>
      <th>Avatar</th>
      <th>Password digest</th>
      <th>Job</th>
      <th>Exdata</th>
      <th>Last sign in at</th>
      <th>Last sign in ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.position_id %></td>
        <td><%= user.realname %></td>
        <td><%= user.mobile %></td>
        <td><%= user.nickname %></td>
        <td><%= user.avatar %></td>
        <td><%= user.password_digest %></td>
        <td><%= user.job %></td>
        <td><%= user.exdata %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
